.main-content {
    position: relative;
}

.content-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
}

.content-title .content-title-text {
    font-size: 22px;
    line-height: 36px;
    font-weight: normal;
}

.content-body {
    flex: 1;
    background-color: #fff;
    height: calc(100vh - 55px - 44px - 16px);
    border: 1px solid #ccc;
}

.m-panel-list-body {
    position: relative;
}

.m-toolbar.grid-toolbar {
    background-image: -webkit-linear-gradient(top, #f5f5f5, #e0e0e0);
    border-color: #ccc;
    padding: 6px 0 6px 12px;
    display: flex;
    flex: 1;
    gap: 5px;
}

.m-panel.main-gridpanel {
    height: calc(100vh - 55px - 8px - 44px - 34px - 8px - 26px);
    /* overflow: hidden; */
    overflow-x: scroll;
}
